
# Logs
logs/

# Configuration
config.yaml

# Models
models/

# User feedback
feedback/

# Virtual environment
venv/

# Docs
docs/

# ChromaDB local database
chroma_db/

# Environment variables
.env

# Project Context
CONTEXT.md
CLAUDE.md

# Others
__pycache__/
*.pyc
*.pyo
.DS_Store