
### Logs
logs/

### Configuration
config.yaml

### Models
models/

### User feedback
feedback/

### Virtual environment
venv/

### User docs
documents/

### ChromaDB local database
chroma_db/

### Environment variables
.env

### Notes
NOTES.md

### Project Context
CONTEXT.md
CLAUDE.md

### Plans
PLANS.md

### Others
__pycache__/
*.pyc
*.pyo
.DS_Store

